@page
@model ZamkDb.Pages.Courses.CreateModel
@using Microsoft.AspNet.Identity
@{ 
    ViewData["Title"] = "Create course";
    var id = User.Identity.GetUserId();
    Model.Course.UserId = id;
}


<html>
<body style="background-color: rgba(244, 217, 107, 255);">
</body>
</html>

<form method="post">
    <h3>Please enter information about your course</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div>
        <label>Select your Zealand Location: </label>
        <div>
            <select asp-for="@Model.Course.ZealandLocation">
                <option asp-validation-for="@Model.Course.ZealandLocation">Roskilde</option>
                <option asp-validation-for="@Model.Course.ZealandLocation">Holbæk</option>
                <option asp-validation-for="@Model.Course.ZealandLocation">Slagelse</option>
                <option asp-validation-for="@Model.Course.ZealandLocation">Næstved</option>
                <option asp-validation-for="@Model.Course.ZealandLocation">Nykøbing F.</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label>Enter your start location: </label>
        <input asp-for="@Model.Course.StartLocation" class="form-control" placeholder="StartPoint" />
        <span asp-validation-for="@Model.Course.StartLocation" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Enter your end location: </label>
        <input asp-for="@Model.Course.EndLocation" class="form-control" placeholder="EndPoint" />
        <span asp-validation-for="@Model.Course.EndLocation" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Enter your first pick up location: </label>
        <input asp-for="@Model.Course.PickUpPoint1" class="form-control" placeholder="PickUpPoint1" />
        <span asp-validation-for="@Model.Course.PickUpPoint1" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Enter your second pick up location: </label>
        <input asp-for="@Model.Course.PickUpPoint2" class="form-control" placeholder="PickUpPoint2" />
        <span asp-validation-for="@Model.Course.PickUpPoint2" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Enter your third pick up location: </label>
        <input asp-for="@Model.Course.PickUpPoint3" class="form-control" placeholder="PickUpPoint3" />
        <span asp-validation-for="@Model.Course.PickUpPoint3" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label>Select your driving time: </label>
        <input asp-for="@Model.Course.StartDateTime" class="form-control" />
        <span asp-validation-for="@Model.Course.StartDateTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Select your arrival time: </label>
        <input asp-for="@Model.Course.EndDateTime" class="form-control" />
        <span asp-validation-for="@Model.Course.EndDateTime" class="text-danger"></span>
    </div>


    <div>
        <label asp-for="Course.AvailableSeats">Select available seats in your car: </label>
        <div>
            <select asp-for="@Model.Course.AvailableSeats">
                <option asp-validation-for="@Model.Course.AvailableSeats">1</option>
                <option asp-validation-for="@Model.Course.AvailableSeats">2</option>
                <option asp-validation-for="@Model.Course.AvailableSeats">3</option>
                <option asp-validation-for="@Model.Course.AvailableSeats">4</option>
                <option asp-validation-for="@Model.Course.AvailableSeats">5</option>
            </select>
        </div>
    </div>

    <div>Not sure which pickup points you are passing? Check your route here:</div>

    <p> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d580599.6937662462!2d11.922805719810318!3d55.35856960004824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465285fc6379c457%3A0xec9e46cbe34633d2!2zU2rDpmxsYW5k!5e0!3m2!1sda!2sdk!4v1621424711102!5m2!1sda!2sdk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> </p>






    <div class="form-group">
        <label hidden="hidden" asp-for="Course.UserId"></label>
        <input hidden="hidden" asp-for="@Model.Course.UserId" class="form-control" readonly="readonly" />
        <span asp-validation-for="@Model.Course.UserId" class="text-danger"></span>
    </div>

    <div class="text-center">
        <input class="btn btn-dark" type="submit" value="Create Course" />
    </div>
</form>
