@page
@model ZamkDb.Pages.Bookings.CreateModel
@using Microsoft.AspNet.Identity
@using ZamkDb.Models
@using ZamkDb.Pages.Courses
@using System.Diagnostics.Contracts
@{
    ViewData["Title"] = "Create booking";
    var id = User.Identity.GetUserId();
    Model.Booking.ParticipantId = id;

    var date = DateTime.Now;
    Model.Booking.Date = date;

    var cpp = @Model.Booking.ChosenPickUpPoint;
    var PickUp = "";
}
<html>
<body style="background-color: rgba(244, 217, 107, 255);">
</body>
</html>


<form method="post">
    <h3>The valuse of the course you want to take</h3>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label hidden="hidden" asp-for="Booking.CourseId"></label>
        <input hidden="hidden" asp-for="@Model.Booking.CourseId" class="form-control" />
        <span asp-validation-for="Booking.CourseId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label hidden="hidden" asp-for="Booking.ParticipantId"></label>
        <input hidden="hidden" asp-for="@Model.Booking.ParticipantId" class="form-control" />
        <span asp-validation-for="@Model.Booking.ParticipantId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>The course start at: </label>
        <input asp-for="@Model.Course.StartDateTime" class="form-control" readonly="readonly" />
        <span asp-validation-for="@Model.Course.StartDateTime" class="text-danger"></span>
    </div>

    <div class="form-group" input readonly>
        <label>Zeal location: </label>
        <input asp-for="@Model.Course.ZealandLocation" class="form-control" readonly="readonly" />
        <span asp-validation-for="@Model.Course.ZealandLocation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Start location: </label>
        <input asp-for="@Model.Course.StartLocation" class="form-control" readonly="readonly" />
        <span asp-validation-for="@Model.Course.StartLocation" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>End location: </label>
        <input asp-for="@Model.Course.EndLocation" class="form-control" readonly="readonly" />
        <span asp-validation-for="@Model.Course.EndLocation" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>First pick up point: </label>
        <input asp-for="@Model.Course.PickUpPoint1" class="form-control" readonly="readonly" />
        <span asp-validation-for="@Model.Course.PickUpPoint1" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Second pick up point: </label>
        <input asp-for="@Model.Course.PickUpPoint2" class="form-control" readonly="readonly" />
        <span asp-validation-for="@Model.Course.PickUpPoint2" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Third pick up point: </label>
        <input asp-for="@Model.Course.PickUpPoint3" class="form-control" readonly="readonly" />
        <span asp-validation-for="@Model.Course.PickUpPoint3" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Available seats in the car: </label>
        <input asp-for="@Model.Course.AvailableSeats" class="form-control" readonly="readonly" />
        <span asp-validation-for="@Model.Course.AvailableSeats" class="text-danger"></span>
    </div>

    <div>
        <label>
            Please select which pick up point you want to pick up at: 
        </label>
        <div>
            <select asp-for="@Model.Booking.ChosenPickUpPoint" class="form-control">
                <option>@Model.Course.PickUpPoint1</option>
                <option>@Model.Course.PickUpPoint2</option>
                <option>@Model.Course.PickUpPoint3</option>
            </select>
        </div>
    </div>

    
    <div class="text-center">
	    <input class="btn btn-dark" type="submit" value="Submit" />
	    <a class="btn btn-danger" asp-page="/Courses/GetAllBookings">No</a>
    </div>
    

</form>